<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/aboutStyle.css" />

    <title>George Lucas</title>
  </head>
  <body>
    <nav id="nav bar">
      <button><a href="/home">Back to the homepage</a></button>
      <button><a href="/works">Discover more about my works</a></button>
    </nav>

    <section id="title">
      <h1>Learn about my life, you want, hmm?</h1>
    </section>
    <div id="container">
        <div id="info1">
            <ul>I was born in May 14 1944 in Modesto, California</ul>
            <ul>You may know me as a director of a lot of movies, but I am also a Producer and a Writer.</ul>
            <ul>I met John Williams, great composer for my movies, thanks to Steven Spielberg, who was my roommate back in the old times</ul>
            <ul>Once when I was young, I wanted to be a racecar driver</ul>
            <ul>I was rejected by the US Air Force, just because I had some speeding tickets. Okay, maybe not that some... </ul>
        </div>
      <div id="photo">
        <img src="/images/lucas2.jpg" alt="" />
      </div>
        <div id="info2">
            <ul>my most known creations are Star Wars and Indiana Jones, but who cares
                about the Indiana Jones?</ul>
            <ul>Btw, did you catch the Easter Egg of Star Wars in Indiana Jones movie?</ul>
            <ul>It may surprise you a lot, but my favorite character from the Star Wars is a Jar jar Binks!</ul>
            <ul>I had a dog, Alaskan Malamute, that inspired me to create a Chewbacca as a pilot's hairy sidekick, when we were driving.</ul>
        </div>
    </div>
  </body>
</html>
