<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/aboutStyle.css" />

    <title>George Lucas</title>
</head>
<body>
    <nav id="nav bar">
        <button><a href="/home">Back to the homepage</a></button>
        <button><a href="/about">Discover more about me</a></button>
    </nav>

    <section id="title">
        <h1>There goes the title</h1>
    
    </section>
 
</body>
</html>