<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/indexStyle.css" />
    <title>George Lucas</title>
  </head>
  <body>
    <div id="container">
      <img id="lucas" src="/images/lucas.jpg" alt="" />
      <h1>Hello There</h1>
      <h2>My name is George Lucas, and this is my page</h2>
      <h2>Use the force, young padawan, to navigate through it!</h2>

      <div id="buttons"> 
          <button><a id="about-button" href="/about">More About me</a></button>
          <button><a id="works-button" href="/works">More about my Works</a></button>
          
      </div>
      
    </div>
  </body>
</html>
