<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/worksStyle.css" />

    <title>George Lucas</title>
</head>
<body>
    <nav id="nav bar">
        <button><a href="/home">Back to the homepage</a></button>
        <button><a href="/about">Discover more about me</a></button>
    </nav>

    <section id="title">
        <h1>3 trilogies to prove the Force exists</h1>
    
    </section>

    <section id="movieList">
        <div>
            <h2> First trilogy</h2>
            <h3> ... or is it?</h3>
        <ul>
            <li><img src="/images/ep1.jpg" alt="Episode I"> Episode I - The Phantom Menace</li>
            <li><img src="/images/ep2.jpg" alt="Episode II"> Episode II – Attack of the Clones </li>
            <li><img src="/images/ep3.jpg" alt="Episode III"> Episode III – Revenge of the Sith </li> 
        </ul>

        </div>
        <div>
            <h2> Second trilogy</h2>
            <h3> ... or is it?</h3>
            <ul> 
                <li><img src="/images/ep4.jpg" alt="Episode IV"> Episode IV – A New Hope </li>
                <li><img src="/images/ep5.jpg" alt="Episode V "> Episode V – The Empire Strikes Back</li>
                <li><img src="/images/ep6.jpg" alt="Episode VI"> Episode VI – Return of the Jedi</li>
            </ul>
        </div>
        <div>
            <h2> Third trilogy...</h2>
            <h3> ...basically the same as the 2 first</h3>
            <ul> 
                <li><img src="/images/ep7.jpg" alt="Episode VII"> Episode VII – The Force Awakens </li>
                <li><img src="/images/ep8.jpg" alt="Episode VIII"> Episode VIII – The Last Jedi </li>
                <li><img src="/images/ep9.jpg" alt="Episode IX"> Episode IX – The Rise of Skywalker</li>
            </ul>

        </div>
       
    </section>

    <audio src="/Music/starwarsmusic.mp3" autoplay></audio>
        

    
    
</body>
</html>